input{
    width:60px;
    height:30px;
    border: 1px solid #666;
    margin-left: 8px;
    text-align: center;
}
select{
    width:120px;
    height:30px;
    margin-left: 8px;
    color:#444;
    font-size: 16px;
}
button{
    width:60px;
    height:30px;
    margin-left: 8px;
    color:#fff;
    border-radius: 4px;
    background-color: #444;
    border: 0;
    cursor: pointer;
}

.lf30{
    margin-left: 30px;
}
.canvas_bg{
    width: 700px;
    height: 700px;
    border: 1px solid #fff;
    position: relative;
}
.point{
    position: absolute;
    left:0;
    top:0;
    width:2px;
    height:2px;
    background-color:#fff;
}
.point img{
    cursor: pointer;
}
.center{
    position: absolute;
    left:0;
    top:0;
    width:6px;
    height:6px;
    z-index: 100;
    background-color:#fff;
}
.number{
    position: absolute;
    left:0;
    top:0;
    width:6px;
    height:6px;
    z-index: 101;
    color:#000;
    font-size: 40px;
    cursor: pointer;
}
.head_bar{
    height: 80px;
}
.btns_box{
    margin-top: 8px;
}