
.header_box {
    margin-top: 20px;
    text-align: center;
}
.header_box input{
    width:60px;
    height:30px;
    border: 1px solid #666;
    margin-left: 8px;
}
.header_box span{
    margin-left: 8px;
}
.header_box select{
    width:60px;
    height:30px;
    margin-left: 8px;
    color:#444;
    font-size: 16px;
}
.header_box button{
    width:60px;
    height:30px;
    margin-left: 8px;
    color:#fff;
    border-radius: 4px;
    background-color: #444;
    border: 0;
    cursor: pointer;
}
.header_box button:hover,.footer_box button:hover{
    background-color: #000;
}
.funs{
    width:1300px;
    margin: 40px auto 0;
}
.instruction{
    display: inline-block;
    vertical-align: top;
    width:210px;
}
.sub_instruction{
    margin-top: 10px;
    color:#777;
    font-size: 13px;
    line-height: 20px;
}
.canvas_background{
    display: inline-block;
    vertical-align: top;
    width:660px;
    height:690px;
    position: relative;
    background-color: #333;
}
.footer_box{
    margin-top: 20px;
    text-align: center;
}
.footer_box button{
    width:80px;
    height:30px;
    margin-left: 8px;
    color:#fff;
    border-radius: 4px;
    background-color: #444;
    border: 0;
    cursor: pointer;
}
.number{
    width:9px;
    height:9px;
    color:#fff;
    position: absolute;
    z-index: 1009;
    left:0;
    top:0;
    font-size: 12px;
}
.point_number{
    width:13px;
    height:13px;
    color:#ff0000;
    position: absolute;
    z-index: 10;
    left:-15px;
    top:-15px;
    font-weight: bolder;
    font-size: 16px;
}
.grid_line{
    position: absolute;
    background-color:#999;
    left:0;
    top:0px;
    width:1px;
    height: 1px;
    z-index: 10;
}
.point{
    position: absolute;
    left:0;
    top:0;
    width:13px;
    height:13px;
    text-align: center;
    line-height:11px;
    background-color: #ff0000;
    border-radius: 9px;
    cursor: pointer;
    display:block;
    z-index: 2007;
    color:#fff;
    font-size: 12px;
}
.point:hover{
    width:15px;
    height:15px;
    box-shadow: 0 0 15px #FF2D2D;
}
.temp_line,.line{
    position: absolute;
    left:0;
    top:0;
    background-color: #ff0000;
    width:0px;
    height:0px;
    border: 1px solid #ff0000;
    transform-origin:0% 0%;/*定义动画的旋转中心点*/
    cursor: pointer;
    z-index:2005;
}
.temp_line:hover{
    border: 1.5px solid #ff0000;
    box-shadow: 0 0 20px #ff0000;
}

.res_point{
    position: absolute;
    left:0;
    top:0;
    width:13px;
    height:13px;
    text-align: center;
    line-height:11px;
    background-color: #ff0000;
    border-radius: 9px;
    cursor: pointer;
    display:block;
    z-index: 102;
    color:#fff;
    font-size: 12px;
}
.res_r_line{
    position: absolute;
    left:0;
    top:0;
    background-color: #ff0000;
    width:0px;
    height:0px;
    border-top: 1px solid #ff0000;
    transform-origin:0% 0%;/*定义动画的旋转中心点*/
    cursor: pointer;
    z-index:100;
}
.res_y_line{
    position: absolute;
    left:0;
    top:0;
    background-color: #ffff00;
    width:0px;
    height:0px;
    border: 1px solid #ffff00;
    transform-origin:0% 0%;/*定义动画的旋转中心点*/
    cursor: pointer;
    z-index:101;
}

.dialog_ex{
    position: fixed;
    width:100%;
    height:100%;
    z-index: 10001;
    top:0;
    left:0;
    display: none;
    background-color: rgba(0,0,0,0.7);
}
.dialog_content{
    width:400px;
    height:260px;
    background-color: #fff;
    margin: 150px auto;
    text-align: center;
    line-height: 260px;
    font-size: 15px;
    color:#555;
}

.export_image_ex{
    position: fixed;
    width:100%;
    height:100%;
    z-index: 10001;
    top:0;
    left:0;
    display: none;
    background-color: rgb(255,255,255);
    text-align: center;
}
.export_content{
    display: inline-block;
    margin: 70px auto 0;
}
.download_btn{
    display: inline-block;
    margin-top: 30px;
    width:150px;
    height:40px;
    line-height: 40px;
    color:#fff;
    border-radius: 4px;
    background-color: #444;
    cursor: pointer;
    text-decoration: none;
}
.download_btn:hover{
    background-color: #000;
}
.log{
    display: inline-block;
    vertical-align: top;
    width:320px;
    height:660px;
    margin-top: -30px;
    margin-left: 20px;
}
.log_title{
    height:30px;
    color:#444;
    line-height: 30px;
}
.console{
    border:1px solid #333;
    background-color: #222;
    overflow-y: auto;
    height:658px;
    color:#fff;
    font-size: 12px;
    padding: 10px;
}
.short_value{
    position: absolute;
    left:0;
    top:8px;
    width:100%;
    height:30px;
    line-height: 30px;
    text-align: center;
    color:#ffff00;
    font-size: 28px;
    z-index: 200;
}