<html>
<head>
    <title>旅行商问题</title>
    <link rel="stylesheet" href="../static/prime.css">
    <style></style>
</head>
<body>
<div id="head_bar" class="head_bar">
    <span>底图样式:</span>
    <select id="selector">
        <option>正方形</option>
        <option>正三角形</option>
        <option>正六边形</option>
    </select>

    <span class="lf30">边长单位格:</span>
    <input/>

    <span class="lf30">数段:</span>
    <input/> -<input/>

    <span class="lf30">数段数量:</span>
    <input/>

    <button id="create_pictures_btn" style="width:120px;">生成图片</button>
</div>
<div id="canvas_bg" class="canvas_bg">

</div>
</body>
<script src="../static/jquery-1.8.3.min.js"></script>
<script src="../static/ui_frame.js"></script>
<script src="../static/html2canvas.min.js"></script>
<script src="../static/prime.js"></script>
</html>