<html>
<head>
    <title>质数螺旋</title>
    <link rel="stylesheet" href="../static/prime/prime.css">
    <style></style>
</head>
<body>
<div id="head_bar" class="head_bar">
    <span>底图样式:</span>
    <select id="selector">
        <option selected name="square">正方形</option>
        <option name="triangle">正三角形</option>
        <option name="sexangle">正六边形</option>
    </select>
    <span class="lf30">边长单位格:</span>
    <input id="side_length_input" value="4"/>

    {% if type == 'question' %}
        <span class="lf30">起始数字:</span>
        <input id="segment_start" value="0"/> -<input id="segment_end" value="10"/>
        <div style="display: none">
            <span class="lf30">起始数字:</span>
            <input id="segment_start"/> -<input id="segment_end"/>

            <span class="lf30">数段数量:</span>
            <input id="segment_count"/>
        </div>


        <div class="btns_box">
            <button id="create_pictures_btn" style="width:120px;">生成数字</button>
            <button id="to_hide_btn" style="width:120px;">一键隐藏</button>
            <button id="mark_prime_btn" style="width:120px;">标出质数</button>
            <a id="save_picture_btn" class="save_picture_btn" style="width:120px;">另存为图片</a>
        </div>
    {% else %}
        <span class="lf30">起始数字:</span>
        <input id="segment_start" value="0"/>
        <div class="btns_box">
            <button id="start_answer_btn" style="width:120px;">开始作答</button>
        </div>
    {% endif %}



</div>
<div id="canvas_bg" class="canvas_bg">

</div>
<div class="dialog_ex" id="dialog_ex">
    <div class="dialog_content" id="dialog_content"></div>
</div>
</body>
<script src="../static/jquery-1.8.3.min.js"></script>
<script src="../static/ui_frame.js"></script>
<script src="../static/html2canvas.min.js"></script>
<script>
    var type = {{json_encode(type)}}
    //alert(type)
    var sqrt3 = Math.sqrt(3);
</script>
<script src="../static/prime/sexangle.js"></script>
<script src="../static/prime/triangle.js"></script>
<script src="../static/prime/square.js"></script>
<script src="../static/prime/prime.js"></script>
</html>